<div class="how-content">
    <div class="container">
        <div class="how-section">
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab minima harum deleniti illum, dicta hic, neque sapiente. Unde accusamus ducimus, delectus iste, voluptate quos sed eaque excepturi at, quo beatae.</span>
                <span>Vitae praesentium incidunt id, placeat repellendus magnam quos nesciunt eaque ea numquam, veritatis repellat laudantium, dolor quia vel asperiores! Aperiam placeat sequi possimus ipsa vel voluptas, amet accusantium alias impedit.</span>
                <span>Distinctio consequatur illo saepe non consectetur neque quidem esse, ipsam, quia est pariatur, repudiandae soluta earum voluptatem blanditiis. Quo, exercitationem, fugit. Aperiam, dolorem, earum. Aliquam vero in rem minus maxime?</span>
                <span>Debitis autem nulla hic ea, temporibus nam nisi molestiae praesentium earum esse fugit voluptatibus distinctio optio mollitia ex blanditiis quam perferendis nemo modi ut. Dicta fugit, error sit ullam ab.</span>
                <span>Corporis dolore impedit odit molestiae itaque ea sapiente consectetur, quam amet ipsa harum quas, illo quibusdam vero suscipit iure dolor tempore esse, fuga nemo. Sint natus ipsam autem, dolorem libero.</span></p>
        </div>
    </div>
</div>