<div class="item-content">
    <div class="container">
        <section class="item-section">
            <div class="item">
                <div class="img-wrapper">
                    <img src="/images/Products/iPhone.jpg" alt="">
                </div>
                <p>This is the White/Gold iPhone 5S</p>
                <div class="item-container">
                    <a href="/items" class="btn item-look">View Item</a>
                    <a href="/items" class="fab add-cart">+</a>
                </div>
            </div>
            <div class="item">
                <div class="img-wrapper">
                    <img src="/images/Products/water.jpg" alt="">
                </div>
                <p>A never once used Water Cooler for the office</p>
                <div class="item-container">
                    <a href="/items" class="btn item-look">View Item</a>
                    <a href="/items" class="fab add-cart">+</a>
                </div>
            </div>
            <div class="item"></div>

        </section>
    </div>
</div>