<div class="item-content">
    <div class="container">
        <section class="item-section">
            <div class="item" ng-repeat="item in items">
                <div class="img-wrapper">
                    <img src="/images/Products/{{item.image}}" alt="">
                </div>
                <p>{{item.name}}</p>
                <div class="item-container">
                    <a href="/item/{{item._id}}" class="btn item-look">View Item</a>
                    <a href="/items" class="fab add-cart">+</a>
                </div>
            </div>
        </section>
    </div>
</div>
